{%extends 'base.html'%}
{%block body%}

<section class="banner-area relative about-banner" id="home">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Əməkdaş olan kurslar
							</h1>
							<p class="text-white link-nav"><a href="index.html">Kurslar </a>  <span class="lnr lnr-arrow-right"></span>  <a href="#"> Ətraflı</a></p>
						</div>
					</div>
				</div>
			</section>

<section class="course-details-area pt-120">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 left-contents">
							<div class="main-image">
								<img class="img-fluid" src="{{jost.image.url}}" alt="">
							</div>

						</div>
						<div class="col-lg-4 right-contents">
							<ul>

								<li>
									<a class="justify-content-between d-flex" href="#">
										<p>Kursun ödənişi </p>
										<span>230azn</span>
									</a>
								</li>

								<li>
									<a class="justify-content-between d-flex" href="#">
										<p>İş vaxtları </p><br>
										<span>B.E ,Ç ,ÇƏR ,C.A ,C ,C.E ,B</span><br>
										<span>09.00-22.00 </span>
									</a>
								</li>
							</ul>
							<a href="#" class="primary-btn text-uppercase">Kursdan qeydyattan kec</a>
						</div>
					</div>
				</div>
			</section>

<section class=" ">
				<div class="container">
					<div class="row">
						<div style="padding: 75px">

						</div>


					</div>
				</div>
			</section>

{% endblock %}